.htmlbody {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  background: center / contain no-repeat url(C:\Users\LABORATORIA\Desktop\Proyecto1\BOG005-card-validation\css\fondo.jpg)
}
.h2{
  padding-top:2em;
}